%html
  %head
    %title Piedra-Papel-Tijera App
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    
  %body
    %center
      %h1 Bienvenido a Piedra Papel y Tijera
      %br
      %h2 ¡Intente ganar a la máquina!
      %br
      %br
      %h2= answer
      %a{:href => '?choice=Piedra'} Piedra
      %a{:href => '?choice=Papel'} Papel
      %a{:href => '?choice=Tijera'} Tijera
    %br
    %br
    %br
    %br
    %br
    %br
    %p#copyright © Diego Williams Aguilar Montaño - Sistemas y Tecnologías Web 2013-14 - Práctica 3